################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Server/.vs/Blog
/src/Server/Core/bin/Debug/netcoreapp3.1
/src/Server/Core/obj
/src/Server/WebAPI/obj
